<ion-header  class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Conquistas
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="tentativas" lines="none">
    <div class="ion-text-center ion-padding" *ngIf="tentativas.length == 0">
      Você não possui conquistas ainda!
    </div>
    <ion-item *ngFor="let t of tentativas" class="ion-padding-bottom">
      <ion-thumbnail slot="start">
        <img src="{{t.imgCapa}}">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <h2><strong>{{t.titulo}}</strong></h2>
        <p>Você realizou {{t.numJogadas}} jogada(s) e acertou {{t.numAcertos}} questões. Seu rendimento foi de {{((t.numAcertos / t.numQuestoes) * 100) | number : '1.0-0'}}%.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>