<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Conquistas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="conquistas" lines="none">
    <ion-item *ngFor="let c of conquistas" class="ion-padding-bottom" [disabled]="!c.possui">
      <ion-thumbnail slot="start">
        <img [src]="c.img">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <h2><strong>{{c.nome}}</strong></h2>
        <p>{{c.desc}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>