<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Tentativa
    </ion-title>
    <ion-progress-bar color="tertiary" value="{{progresso}}"></ion-progress-bar>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" color="light">
    <ion-item-divider>
      <ion-label>
        <ion-text class="ion-text-center" color="secondary">
          <strong>Questão {{indiceAtual + 1}} de {{questoes.length}}</strong>
        </ion-text>
        <h2 class="ion-text-wrap">
          <div [innerHtml]="questoes[indiceAtual].questao" class="questao"></div>
        </h2>
      </ion-label>
    </ion-item-divider>
    <ion-item button detail (click)="responder('A')" disabled={{!a}}  class="ion-padding-bottom">
      <ion-label class="ion-text-wrap">
        <div [innerHtml]="questoes[indiceAtual].A"></div>
      </ion-label>
    </ion-item>
    <ion-item button detail (click)="responder('B')" disabled={{!b}} class="ion-padding-bottom">
      <ion-label class="ion-text-wrap">
        <div [innerHtml]="questoes[indiceAtual].B"></div>
      </ion-label>
    </ion-item>
    <ion-item button detail *ngIf="questoes[indiceAtual].C" (click)="responder('C')" disabled={{!c}} class="ion-padding-bottom">
      <ion-label class="ion-text-wrap">
        <div [innerHtml]="questoes[indiceAtual].C"></div>
      </ion-label>
    </ion-item>
    <ion-item button detail *ngIf="questoes[indiceAtual].D" (click)="responder('D')" disabled={{!d}} class="ion-padding-bottom">
      <ion-label class="ion-text-wrap">
        <div [innerHtml]="questoes[indiceAtual].D"></div>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>